pip

wheel
twine

flake8
black
isort
seed-isort-config
bumpversion

sphinx
numpydoc
sphinx_book_theme
sphinx-gallery
sphinx-intl
sphinx-toolbox
matplotlib
watchdog

tox
coverage
pytest
pytest-cov
pytest-randomly

opentypesvg 
beautifulsoup4 
pyglet 

-e .